<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Freakin' wacktomatoes!</title>
    <script>
      window.environmentConfig = <%= JSON.stringify(environmentConfig) %>;
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
